<h2>Keep Drinking</h2>
    <ul>
      <li>
        <app-keep-drinking-card></app-keep-drinking-card>
      </li>
      <li>
        <app-keep-drinking-card></app-keep-drinking-card>
      </li>
      <li>
        <app-keep-drinking-card></app-keep-drinking-card>
      </li>
      <li>
        <app-keep-drinking-card></app-keep-drinking-card>
      </li>
      <li>
        <app-keep-drinking-card></app-keep-drinking-card>
      </li>
      <li>
        <app-keep-drinking-card></app-keep-drinking-card>
      </li>
      <li>
        <app-keep-drinking-card></app-keep-drinking-card>
      </li>
      <li>
        <app-keep-drinking-card></app-keep-drinking-card>
      </li>
    </ul>
